## Assignment 3-Hypothesis testing

## Question 1

Step 1:
Let the null hypothesis be H0= U1=u2
Alternative hypothesis= u1!=u2 (There is significant difference between A and b)

Step 2:
level of significance= 0.05

As it is two tailed test alpha/2=0.025

Step 3: tstat value
    it is a two tailed test

In [2]:
import pandas as pd

In [3]:
cutlets=pd.read_csv(r"C:\Users\HP\Downloads\Cutlets (1).csv")

In [4]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [7]:
from scipy import stats

In [8]:
statistic , p_value = stats.ttest_ind(cutlets['Unit A'],cutlets['Unit B'], alternative = 'two-sided')
print('p_value=',p_value)

p_value= 0.4722394724599501

In [9]:
#step 4:
if p_value<=0.025:
    print("we reject the null hypothesis")
    
else:
    print("we failed to reject the null hypohesis")

we failed to reject the null hypohesis

That means there is no significant difference between Unit A and Unit B.

## Question 2

As the samples are more than 3 we are going to conduct
ANOVA TEST on 4 independent samples.

#Null step 1:
Null hypothesis: u1=u2=u3=u4
alternative hypotheisis: Atleast one of them is fifferent.

srep 2:
level of significance =0.05

In [14]:
lab_data=pd.read_csv(r"C:\Users\HP\Downloads\LabTAT.csv")

In [15]:
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [19]:
#step 3
statistic,p_value=stats.f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])
p_value

2.1156708949992414e-57

In [20]:
#step 4:
if p_value<=0.05:
    print("we reject the null hypothesis")
    
else:
    print("we failed to reject the null hypohesis")

we reject the null hypothesis

 We accept the alternate hypothesis.
There is a  difference in average TAT among the different laboratories

## Question 3

#Step 1
h0= Male female buyer ratios are similar across regions.
ha=Male female buyer ratios are not similar across regions.

alpha=0.05

In [23]:
data=pd.read_csv(r"C:\Users\HP\Downloads\BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [24]:
data=data.iloc[:,1:]
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [25]:
chi_square_test_val,pval,dof,expected_table=stats.chi2_contingency(data)
print('p_value is : ' ,pval)

p_value is :  0.6603094907091882

In [27]:
#Step 4
if pval<=0.05:
    print("we reject the null hypothesis")
    
else:
    print("we failed to reject the null hypohesis")

we failed to reject the null hypohesis

Male female buyer ratios are similar across regions.
That means there is no association between gender and regions.

## Question 4

H0 :  There is no significant association between centers and defectives.
Ha :  There is a significant association between centers and defectives.

alpha=0.05

In [30]:
data=pd.read_csv(r"C:\Users\HP\Downloads\Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [31]:
Phillippines=data['Phillippines'].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [32]:
Indonesia=data['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [33]:
Malta=data['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
India=data['India'].value_counts()
India

In [34]:
statistic,p_val,df,exp_tab = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
round(p_val,4)

0.2771

In [35]:
#Step 4
if p_val<=0.05:
    print("we reject the null hypothesis")
    
else:
    print("we failed to reject the null hypohesis")

we failed to reject the null hypohesis

hence we conclude that,There is no significant association between centers and defectives.